@font-face {
  font-family: "Futura";
  src: url("../src/assets/fonts/FuturaBookfont.ttf"); }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Futura", sans-serif;
  background-color: #FAEFE1;
  /* height: 100vh; */
}
/* #root, .App {
  height: 75%;
} */
.App .container {
  width: 100%;
  padding: 10px 50px;
}
a {
  text-decoration: none; 
}
a:hover {
  text-decoration: none; 
  color: rgb(16, 133, 16);
}
h4 {
  margin-top: 20px;
  font-weight: bold;
  color: #06486B;
}
/* Header */
/* header {
  height: 150px; 
} */
header a {
  color: #06486B;
  font-weight: bold;
  display: block;
  text-align: center; 
}
header h1 {
  margin-bottom: 0; 
}
.logo {
  color: #F08A05;
  font-weight: bolder;
  text-align: center;
  display: block;
  margin-bottom: 0;
  padding-top: 0px; 
}
.ferret-logo {
  background-image: url(../src/assets/images/ferretball.png);
  background-repeat: no-repeat;
  display: block;	
  margin: auto;
}
/* NavBar */
.navbar {
  display: flex;
  justify-content: space-around; 
  width: 100%;
  margin: 10px 0;
  padding: 10px 50px;
}
.nav-item a {
  font-size: 14pt;
  font-weight: bold; 
  padding: 15px 10px 5px 10px;
  color: #06486B;
  text-decoration: none; 
}
.nav-item a:hover {
  text-decoration: none;
  color: #2C6605;
}
/* HomePage */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #06486B;
  font-weight: bold;
  line-height: 2; 
  margin: 50px auto;
}
.mainferret {
  background-image: linear-gradient(
    to right bottom, 
    hsla(202, 64%, 43%, 0.6), 
    hsla(111, 55%, 64%, 0.6)),
    url(../src/assets/images/mainferret.jpg);
  background-repeat: no-repeat;
  background-position: top;
  width: 800px;
  height: 600px;
	margin: auto;
}
.main-content p {
  margin: 0 auto 30px auto; 
}
.main-content p span {
  font-size: 32px; 
}
.home-block {
  height: 400px; 
  margin-top: 100px;
}
.home-aside-one {
  display: inline-block;
  width: 50%;
}
.dariagif {
  margin: 0 auto;
  width: 500px;
  height: 95%; 
}
.home-aside-two {
  display: inline-block;
  width: 50%;
  height: 95%;
  background-color: #06486B;
}
.home-block-text {
  /* display: inline-flex;
  justify-content: center;
  flex-direction: column; */
  text-align: center;
  line-height: 2;
  padding: 9px;
}
.home-block-text h2 {
  text-align: center;
  margin: 10px;
  color: #fff; 
  padding: 20px;
}
.home-block-text p {
  color: #fff; 
  font-size: 16px;
}
/* About */
.about-main-content {
  height: 100%;
  margin: 50px 0 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
  color: #06486B; 
}
.about-main-content > p {
  margin: auto;
  line-height: 2;
  font-size: 16px;
  font-weight: bold; 
}
.about-main-content Row > Col > p > span {
  font-size: 24px;
  font-weight: bold; 
}
.about-block-text {
  margin-top: 100px;
}
.grassferret-container {
	position: relative;
	overflow: hidden;
	margin-top: 50px 0 20px 0;
}
.flt_rgt {
	float: right;
}
.about-block-text p {
  text-align: center;
  font-size: 16px;
  line-height: 2;
  font-weight: bold; 
}
/* Resources */
#resources-cursor {
  cursor: pointer;
  color: #fff;
}
.resources-accordion {
  color: #fff;
  font-weight: bold; 
  text-align: center; 
}
.resources-accordion .back-color {
  background-color: #06486B; 
}
.card-body {
  background-color: #fef3ea;
  color: #06486B; 
}
.card-body ul > li > span {
  font-size: 24px;
  font-weight: bold; 
}
.resources-video   {
  height: 315px;
  width: 600px;
  margin: 0 auto;
  display: block;
}
/* Activism */
.activism-block-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  background-color: #06486B;
  margin-top: 50px; 
}
.activism-rgt-block-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin-top: 50px; 
}
.activism-block-text p {
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 24px;
  font-weight: bold; 
}
.activism-rgt-block-text p {
  margin: 0 20px;
  text-align: center;
  color: #06486B;
  font-weight: bold;
  line-height: 2; }

.activism-main-content {
  display: flex;
  height: 200px;
  text-align: center;
  color: #06486B;
  font-weight: bold;
  align-items: center;
  line-height: 2; }

.activism-main-content span {
  font-size: 24px; }

.activism-main-content p {
  margin: auto;
  text-align: center; }

/* Contact */
.contact-block-text {
  display: flex;
  align-items: center;
  height: 400px;
  background-color: #06486B;
  margin: 0px auto;
}
/* Footer */
.footer {
  margin-top: 20px;
  color: #06486B; 
  text-align: right;
  padding: 5px 10px;
  width: 100%;
}
.social-button {
  margin: 0 10px 0 5px;
  color: #06486B; 
}
.social-button:hover {
  color: #AD02B3;
}
.email {
  color: #06486B; 
}
.email:hover {
  color: #AD02B3;
}

@media (max-width: 990px) {
    .mainferret-container {
    max-width: 990px;
  }
    .mainferret-container .mainferret {
    max-width: initial;
  }
  .dariagif img {
    display: block;
    margin: 0 auto; }

  .grassferret.flt_rgt {
	margin: 0 auto;
	display: block;
	float: inherit; } 
}
@media (max-width: 767px) {
  .dariagif {
    margin: 0 auto;
    display: block; }
	.resources-video {
	transform: scale(.5); }
  .mainferret-container {
    overflow: hidden; }
}
@media (max-width: 576px) {
  .grassferret.hide-ad {
    display: none;
  }
}
@media (max-width: 430px) {
  .dariagif {
    transform: scale(0.8); }

  .home-block-text {
    margin-top: 0; } 
}