// Colors
$color-light: #FAEFE1; 
$color-blue-dark: #06486B;
$color-logo: #F08A05;
$color-hover-one: #2C6605;
$color-hover-two: #AD02B3;
// Font
$default-font: 1.6rem;

@font-face {
  font-family: "Futura";
  src: url("../src/assets/fonts/FuturaBookfont.ttf"); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} 
html {
  font-size: 62.5%;
}

body {
  font-family: "Futura", sans-serif;
  background-color: $color-light;
  font-size: $default-font;
  box-sizing: border-box;
  /* height: 100vh; */
}
/* #root, .App {
  height: 75%;
} */
.App .container {
  width: 100%;
  padding: 1rem 5rem;
}
a {
  color: $color-blue-dark;
  text-decoration: none; 
}
a:hover {
  text-decoration: none; 
  color: $color-hover-one;
}
h4 {
  margin-top: 2rem;
  font-weight: bold;
  color: $color-blue-dark;
}
/* Header */
/* header {
  height: 150px; 
} */
header a {
  color: $color-blue-dark;
  font-weight: 700;
  display: block;
  text-align: center; 
}
header h1 {
  margin-bottom: 0; 
}
.logo {
  color: #F08A05;
  font-weight: 800;
  text-align: center;
  display: block;
  margin-bottom: 0;
  padding-top: 0px; 
}
.ferret-logo {
  background-image: url(../src/assets/images/ferretball.png);
  background-repeat: no-repeat;
  display: block;	
  margin: auto;
}
/* HomePage */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $color-blue-dark;
  font-weight: bold;
  line-height: 2; 
  margin: 50px auto;
  background-image: linear-gradient(
    to right, 
    hsl(192, 68%, 56%, .6), 
    hsl(84, 66%, 58%, .6)),
    url(../src/assets/images/ferretingrass.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  /* width: 850px; */
  height: 650px;
	margin: auto;
}
/* .mainferret {
  background-image: linear-gradient(
    to right bottom, 
    hsl(192, 68%, 56%, .6), 
    hsl(84, 66%, 58%, .6)),
    url(../src/assets/images/mainferret.jpg);
  background-repeat: no-repeat;
  background-position: top;
  width: 815px;
  height: 550px;
	margin: auto;
} */
.main-content h1 {
  margin-top: 10px;
}
.main-content h1 span {
  font-weight: bolder;
  color: #F08A05;
}
.main-content p {
  margin: 0 auto 30px auto; 
}
#where-business {
  font-size: 18;
}
.home-block {
  height: 400px; 
  margin-top: 100px;
}
.home-aside-one {
  display: inline-block;
  width: 50%;
}
.dariagif {
  margin: 0 auto;
  width: 500px;
  height: 95%; 
}
.home-aside-two {
  display: inline-block;
  width: 50%;
  height: 95%;
  background-color: $color-blue-dark;
}
.home-block-text {
  /* display: inline-flex;
  justify-content: center;
  flex-direction: column; */
  box-sizing:border-box;
  text-align: center;
  padding: 9px;
}
.home-block-text h2 {
  text-align: center;
  margin: 10px;
  color: #fff; 
  padding: 20px;
}
.home-block-text p {
  color: #fff; 
  line-height: 2;
  font-size: 16px;
}
/* About */
.section-about {
  display: flex;
  align-items: center;
}
.about-main-content {
  height: 100%;
  // margin: 50px 0 20px 0;
  text-align: center;
  color: $color-blue-dark; 
}
.about-main-content > p {
  margin: auto;
  line-height: 2;
  font-size: $default-font;
  font-weight: bold; 
}
.about-main-content Row > Col > p > span {
  font-size: 24px;
  font-weight: bold; 
}
.about-block-text {
  margin-top: 100px;
}
.grassferret-container {
	position: relative;
	overflow: hidden;
	margin-top: 5rem 0 2rem 0;

  & img {
    height: 100%;
    width: 100%;
  }
}
.flt_rgt {
	float: right;
}
.about-block-text p {
  text-align: center;
  font-size: 16px;
  line-height: 2;
  font-weight: bold; 
}
/* Resources */
#resources-cursor {
  cursor: pointer;
  color: #fff;
}
.resources-accordion {
  color: #fff;
  font-weight: bold; 
  text-align: center; 
}
.resources-accordion .back-color {
  background-color: $color-blue-dark; 
}
.card-body {
  background-color: #fef3ea;
  color: $color-blue-dark; 
}
.card-body ul > li > span {
  font-size: 24px;
  font-weight: bold; 
}
.resources-video   {
  height: 315px;
  width: 600px;
  margin: 0 auto;
  display: block;
}
/* Activism */
.activism-block-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  background-color: $color-blue-dark;
  margin-top: 50px; 
}
.activism-rgt-block-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin-top: 50px; 
}
.activism-block-text p {
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 24px;
  font-weight: bold; 
}
.activism-rgt-block-text p {
  margin: 0 20px;
  text-align: center;
  color: $color-blue-dark;
  font-weight: bold;
  line-height: 2; }

.activism-main-content {
  display: flex;
  height: 200px;
  text-align: center;
  color: $color-blue-dark;
  font-weight: bold;
  align-items: center;
  line-height: 2; }

.activism-main-content span {
  font-size: 24px; }

.activism-main-content p {
  margin: auto;
  text-align: center; }

/* Contact */
.contact-block-text {
  display: flex;
  align-items: center;
  height: 400px;
  background-color: $color-blue-dark;
  margin: 0px auto;
}
/* Footer */
.footer {
  margin-top: 20px;
  color: $color-blue-dark; 
  text-align: right;
  padding: 5px 10px;
  width: 100%;
}
.social-button {
  margin: 0 10px 0 5px;
  color: $color-blue-dark; 
}
.social-button:hover {
  color: #AD02B3;
}
.email {
  color: $color-blue-dark; 
}
.email:hover {
  color: #AD02B3;
}
/* Chat */
#form {
  text-align: center;
}

@media (max-width: 990px) {
    .mainferret-container {
    max-width: 990px;
  }
    .mainferret-container .mainferret {
    max-width: initial;
  }
  .dariagif img {
    display: block;
    margin: 0 auto; }

  .grassferret.flt_rgt {
	margin: 0 auto;
	display: block;
	float: inherit; } 
}
@media (max-width: 767px) {
  .dariagif {
    margin: 0 auto;
    display: block; }
	.resources-video {
	transform: scale(.5); }
  .mainferret-container {
    overflow: hidden; }
}
@media (max-width: 576px) {
  .grassferret.hide-ad {
    display: none;
  }
}
@media (max-width: 430px) {
  .dariagif {
    transform: scale(0.8); }

  .home-block-text {
    margin-top: 0; } 
}