@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  font-family: "Roboto", sans-serif;
  background-color: #fef3ea; 
  margin: 0;
}
a:hover {
  text-decoration: none; 
}
nav {
  width: 100%; 
}
.row .navbar-nav {
  margin: 0px auto;
  width: 80%;
  display: flex;
  justify-content: space-between; 
}
.navbar-nav li {
  font-size: 14pt;
  font-weight: bold; }

.nav-item a {
  padding: 15px 10px 5px 0px;
  color: #344863;
  text-decoration: none; }

.nav-item a:hover {
  text-decoration: none;
  color: #4E97E7; }

.logo {
  color: #f7882f;
  font-weight: bolder;
  text-align: center;
  display: block;
  margin-bottom: 0;
  padding-top: 0px; }

header a {
  color: #344863;
  font-weight: bold;
  display: block;
  text-align: center; }

header {
  height: 75px; }

header h1 {
  margin-bottom: 0; }

.mainferret {
	display: block;
	margin: 0 auto;
}

.card-body {
  background-color: #fef3ea;
  color: #344863; }

.about-more p {
  display: block;
  margin: 0 auto; }

.smallferret-container {
	position: relative;
	overflow: hidden;
	margin-top: 50px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 20px;
}

.flt_rgt {
	float: right;
}

.flt_lft {
  float: left; }

.main-content {
  display: flex;
  height: 150px;
  margin-top: 0px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #344863;
  font-weight: bold;
  align-items: center;
  line-height: 2; }

.about-more {
  display: flex;
  height: 100px;
  text-align: center;
  color: #344863;
  font-weight: bold;
  align-items: center;
  line-height: 2; }

.main-content p {
  margin: auto; }

.main-content p span {
  font-size: 32px; }

.dariagif img {
  width: 75%;
  margin: 50px auto 0 auto;
  width: 413px;
  height: 300px; }

.block-text {
  display: flex;
  align-items: center;
  height: 300px;
  background-color: #344863;
  line-height: 2;
  font-size: 18px;
  margin-top: 50px;
  margin-left: auto; }

.contact-block-text {
  display: flex;
  align-items: center;
  height: 400px;
  background-color: #344863;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto; }

.activism-block-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  background-color: #344863;
  margin-top: 50px; }

.activism-rgt-block-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin-top: 50px; }

.block-text p {
  text-align: center;
  margin: auto;
  color: #fff; }

.about-main-content {
  height: 100%;
  margin-top: 50px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  color: #344863; }

.about-main-content > p {
  margin: auto;
  line-height: 2;
  font-size: 16px;
  font-weight: bold; }

.about-main-content > p > span {
  font-size: 24px;
  font-weight: bold; }

.about-block-text {
  font-weight: bold;
  margin-top: 50px;
  color: #344863; }

.about-block-text p {
  text-align: center;
  font-size: 16px;
  line-height: 2;
  font-weight: bold; }

.activism-block-text p {
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 24px;
  font-weight: bold; }

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  align-items: flex-end;
  color: #344863; }

.contact {
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 0;
  margin-bottom: 0;
  text-decoration: none;
  color: #344863;
  font-weight: bold; }

.social-button a:hover {
  color: #981398; }

.social-button {
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 0px;
  color: #344863; }

.email {
  color: #344863; }
h4 {
    margin-top: 20px;
    font-weight: bold;
    color: #344863;
}
#top ul.dropdown-menu > li > a {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: block; }

.resources-accordion h5 > a {
  color: #000;
  font-weight: bold; }

.resources-accordion {
  text-align: center; }

.resources-accordion .back-color {
  background-color: #344863; }

.more-block-text {
  display: flex;
  align-items: center;
  height: 300px;
  margin-top: 50px; }

.more-block-text p {
  margin: 0 auto;
  text-align: center;
  color: #344863;
  font-weight: bold;
  line-height: 2; }

.activism-rgt-block-text p {
  margin: 0 20px;
  text-align: center;
  color: #344863;
  font-weight: bold;
  line-height: 2; }

.activism-main-content {
  display: flex;
  height: 200px;
  text-align: center;
  color: #344863;
  font-weight: bold;
  align-items: center;
  line-height: 2; }

.activism-main-content span {
  font-size: 24px; }

.activism-main-content p {
  margin: auto;
  text-align: center; }

#text {
  margin: 0 auto;
  display: block; }

.card-body ul > li > span {
  font-size: 24px;
  font-weight: bold; }
.resources-video   {
    height: 315px;
    width: 600px;
    margin: 0 auto;
    display: block;
}


@media (max-width: 990px) {
  .mainferret-container {
	max-width: 990px;
}

  .mainferret-container .mainferret {
	max-width: initial;
}

  .dariagif img {
    display: block;
    margin: 0 auto; }

  .smallferret.flt_rgt {
	margin: 0 auto;
	display: block;
	float: inherit; } 
}
@media (max-width: 767px) {
  .dariagif {
    margin: 0 auto;
    display: block; }
	.resources-video {
	transform: scale(.5);
}
.mainferret-container {
	overflow: hidden;
}
}
@media (max-width: 576px) {
.smallferret.hide-ad {
	display: none;
}

}
@media (max-width: 430px) {
  .dariagif {
    transform: scale(0.8); }

  .block-text {
    margin-top: 0; } }

